
<hibernate-configuration>
    <session-factory>
        <!--  JDBC Database connection settings  -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/embeddata2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">A@shish2207</property>
        <!--  Specify dialect  -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!--  Echo all executed SQL to stdout  -->
        <property name="hibernate.show_sql">true</property>
        <!--  Drop and re-create the database schema on startup  -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!--  Mention the annotated entity class  -->
        <mapping class="org.example.student.Student"/>
        <mapping class="org.example.certificate.Certificate"/>

    </session-factory>
</hibernate-configuration>